<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gabriel.Cat.S.Binaris" version="1.1.5-Preview1.0" targetFramework="net472" />
  <package id="Gabriel.Cat.S.Seguretat" version="1.0.2.2-Preview1.0.8" targetFramework="net472" />
  <package id="Gabriel.Cat.S.Utilitats" version="1.1.5.4" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="PokemonGBAFramework" version="1.5.3" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
</packages>